-
    var data = {

        seed: Date.now(),

        windows: [

            {title: "1 week", value: 1},
            {title: "2 weeks", value: 2},
            {title: "1 month", value: 4}
        ]
    }

doctype html
html
    include includes/head

    body

        script#vertexShader(type="x-shader/x-vertex")
            | uniform vec3 viewVector;
            | uniform float c;
            | uniform float p;
            | varying float intensity;
            | void main()
            | {
            |   vec3 vNormal = normalize( normalMatrix * normal );
            |   vec3 vNormel = normalize( normalMatrix * viewVector );
            |   intensity = pow( c - dot(vNormal, vNormel), p );
            |
            |   gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
            | }

        script#fragmentShader(type="x-shader/x-vertex")
            | uniform vec3 glowColor;
            | varying float intensity;
            | void main()
            | {
            |   vec3 glow = glowColor * intensity;
            |   gl_FragColor = vec4( glow, 1.0 );
            | }

        section#page-intro.page
            img(src="https://travis-ci.com/7PH/EPFL-Data-Visualization-Project.svg?token=Za94vW75EZvYRU3Un778&branch=master")
            p Click to start

        section#page-content.page.hidden
            div#animation
            div#timeline
                div#timeline-controls
                    each item, index in data.windows
                        div.timeline-controls
                            input(id=`wd-${index}`, type="radio", name="timeline-window", value=item.value)
                            label(for=`wd-${index}`)= item.title
                div#timeline-bloc
                    input#timeline-range(type="range", min="0", max="1", step="0.01", value="0")

        include includes/bottom
