-
    var CONFIG = {

        seed: Date.now()
    }

doctype html
html
    include includes/head

    body
        section#page-intro.page
            img(src="https://travis-ci.com/7PH/EPFL-Data-Visualization-Project.svg?token=Za94vW75EZvYRU3Un778&branch=master")
            p Click to start

        section#page-content.page.hidden
            div#animation

        include includes/bottom
