-
    var data = {

        seed: Date.now()
    }

doctype html
html
    include includes/head

    body

        audio#ambient-audio
            source(src="mp3/lauge-fjeld.mp3", type="audio/mpeg")

        section#page-help.page
            p#page-help-button help
            div#page-help-content
                div
                    pre
                        | HELP / LEGEND
                        |
                        |  top events:
                        |    {dot} {name of the main actor} / {type of event}
                        |      blue dot: positive event
                        |      red dot: negative event
                        |
                        |  top websites:
                        |    {name of the website} ({number of mentions})
                        |
                        |
                        | CREDITS
                        |
                        |   song: Lauge - Fjeld
                        |
                        |   authors:
                        |     - Benjamin RAYMOND
                        |     - Virginie PISKIN
                        |     - Mohammed Amine TOURARI

        section#page-intro.page
            h1 World Wide News
            p click to start

        section#page-content.page.hidden
            div#page-hud.page-hud-hidden
            div#animation
            div#timeline.timeline-hidden
                div#timeline-controls
                    div.timeline-controls
                        input(id=`timeline-autoplay`, type="checkbox", name="timeline-autoplay", value='true', checked="checked")
                        label(for=`timeline-autoplay`) autoplay
                    div.timeline-controls
                        input(id=`timeline-music`, type="checkbox", name="timeline-music", value='true', checked="checked")
                        label(for=`timeline-music`) audio
                div#timeline-bloc
                    div#timeline-hud
                        div#timeline-info
                        div#timeline-left
                        div#timeline-right
                    div#timeline-range-container
                        input#timeline-range(type="range", min="0", max="1", step="0.00001", value="0")

        include includes/bottom
