
// We can define variables like this:
// $BG_COLOR: #000000;

// then use them like this:
// html {
//      background-color: $BG_COLOR;
// }


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

// index.html
#page-title {
    text-align: center;
}
