
// We can define variables like this:
// $BG_COLOR: #000000;

// then use them like this:
// html {
//      background-color: $BG_COLOR;
// }


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.hidden {
    display: none;
}

.page {
    width: 100vw;
    height: 100vh;
}

#page-intro {
    text-align: center;
}

#page-content {

    #page-title {
        text-align: center;
    }
}
