
.mock-A {
    background-color: #eee;
}

.mock-B {
    background-color: #ccc;
}

.mock-C {
    background-color: #aaa;
}

.mock-D {
    background-color: #888;
}

.mock-E {
    background-color: #666;
}
