-
    var CONFIG = {

    seed: Date.now()
    }
head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="main.css?" + CONFIG.seed)
    link(rel="stylesheet", href="ghost-range.css?" + CONFIG.seed)
    link(href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet")
    script(src="js/vendor/three.js?" + CONFIG.seed)
    script(src="js/vendor/OrbitControls.js?" + CONFIG.seed)
    script(src="js/vendor/GPUParticleSystem.js?" + CONFIG.seed)
