-
    var CONFIG = {

        seed: Date.now(),

        ga: 'UA-113541070-2'
    }
head
    meta(charset="UTF-8")
    link(rel="icon", href="img/favicon.png", type="image/png")
    link(rel="stylesheet", href="main.css?" + CONFIG.seed)
    link(rel="stylesheet", href="ghost-range.css?" + CONFIG.seed)
    link(href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet")
    script(src="js/vendor/three.js?" + CONFIG.seed)
    script(src="js/vendor/OrbitControls.js?" + CONFIG.seed)
    script(src="js/vendor/GPUParticleSystem.js?" + CONFIG.seed)
    title World Wide News

    script(async, src='https://www.googletagmanager.com/gtag/js?id=' + CONFIG.ga)
    script
        | window.dataLayer = window.dataLayer || [];
        | function gtag(){dataLayer.push(arguments);}
        | gtag('js', new Date());
        | gtag('config', '#{CONFIG.ga}');
