
// We can define variables like this:
// $BG_COLOR: #000000;

// then use them like this:
// html {
//      background-color: $BG_COLOR;
// }


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    position: relative;
    cursor: url(img/cursor.png) 0 0, auto
}

.hidden {
    display: none;
}

.page {
    width: 100vw;
    height: 100vh;
}

#page-intro {
    text-align: center;
    padding-top: 20px;
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: opacity 4s;
}

#page-content {

    position: relative;
    width: 100%;
    height: 100%;

    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #animation { z-index: 1; }
    #timeline { z-index: 2; }
}

#timeline {
    transition: all 2s;
    font-family: 'Major Mono Display', monospace;
    margin-top: calc(100vh - 180px);
    background-color: #11111199;

    #timeline-controls {

        height: 30px;
        width: 100%;
        color: #fff;
        margin-top: 20px;
        padding-left: 60px;

        .timeline-controls {
            display: inline-block;
        }

        input[type="checkbox"] {
            display: none;
        }

        label {
            cursor: pointer;
            border: 1px solid #424a88;
            display: inline-block;
            padding: 6px;
            background-color: #15161b;
            margin-left: 20px;
            border-radius: 2px;
            transition: all .4s;
        }

        input[type="checkbox"]:checked + label {
            background: #575D88;
        }
    }

    #timeline-bloc {
        position: relative;

        margin-left: 60px;
        margin-top: 28px;
        width: calc(100% - 120px);

        #timeline-hud {
            height: 30px;
            color: white;
            text-align: center;

            #timeline-info {
                display: inline-block;
            }
            #timeline-left {
                float: left;
                font-size: 140%;
            }
            #timeline-right {
                float: right;
                font-size: 140%;
            }
        }

        #timeline-range-container {

            height: 24px;
            border-radius: 12px;
            border: 1px solid #424a88;
            background-color: #15161b;

            .timeline-cursor {
                position: absolute;
                top: 0;
                width: 12px;
                height: 24px;
                border-left: 1px solid #527dcb;
                border-right: 1px solid #527dcb;
                background-color: #15161b;
                cursor: pointer;
            }

            #timeline-first-cursor {
                left: 10%;
            }

            #timeline-second-cursor {
                left: 20%;
            }

            @mixin thumb-rule() {
                transition: all 1s;
                -webkit-appearance: none;
                border: 1px solid #000000;
                height: 24px;
                width: 16px;
                border-radius: 3px;
                background: #ffffff;
                cursor: pointer;
            }

            input[type=range]::-webkit-slider-thumb {
                @include thumb-rule();
                margin-top: -2px;
            }

            input[type=range]::-moz-range-thumb {
                @include thumb-rule();
            }

            input[type=range]::-ms-thumb {
                @include thumb-rule();
            }
        }
    }
}

#timeline.timeline-hidden {
    opacity: 0;
}
