-
    const CONFIG = {
        mockups: [
            "Mockup 1",
            "Mockup 2"
        ]
    }

doctype html
html
    include includes/head

    body
        p#page-title
            | @TODO Start

        ul
            each item, index in CONFIG.mockups
                li
                    a(href=`./mockup-${index}/`)= item

        include includes/bottom
