-
    const CONFIG = {

    }

doctype html
html
    include includes/head

    body
        section#page-intro.page
            p Click to start

        section#page-content.page.hidden
            p#page-title
                | {loading..}

        include includes/bottom
