-
    const CONFIG = {
        mockups: [
            "Mockup 01",
            "Mockup 02"
        ]
    }

doctype html
html
    include includes/head

    body
        p#page-title
            | @TODO Start

        ul
            each item, index in CONFIG.mockups
                li
                    a(href=`mockup-${index}.html`)= item

        include includes/footer
