doctype html
html
    include ../includes/head
    link(rel="stylesheet", href="/mockup-0.css")

    body

        header#page-header.mock-A

        div#page-content
            section#page-left-col.mock-B
            aside#page-right-col.mock-C

        include ../includes/bottom
